name: release
on:
  push:
    branches:
      - main
  workflow_dispatch:
jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@main
      - name: 1. 准备文件
        run: |
          echo "version=$(jq -r .version $GITHUB_WORKSPACE/module.json)" >> $GITHUB_ENV
          echo "versionCode=$(jq -r .versionCode $GITHUB_WORKSPACE/module.json)" >> $GITHUB_ENV
          echo "ModuleFolderName=module_files" >> $GITHUB_ENV
      - name: 2. 制作模块
        run: |
          mkdir -p "$GITHUB_WORKSPACE"/GithubRelease
          echo "version=$version" >>$GITHUB_WORKSPACE/$ModuleFolderName/module.prop
          echo "versionCode=$versionCode" >>$GITHUB_WORKSPACE/$ModuleFolderName/module.prop
          cd $GITHUB_WORKSPACE/$ModuleFolderName
          zip -q -r $ModuleFolderName.zip *
          mv $GITHUB_WORKSPACE/$ModuleFolderName/$ModuleFolderName.zip "$GITHUB_WORKSPACE"/GithubRelease
          cd "$GITHUB_WORKSPACE"
          touch file.md
          echo "$ModuleFolderName.zip" > file.md
      - name: 3.上传到Github Release
        uses: ncipollo/release-action@main
        with:
          artifacts: ${{ github.workspace }}/GithubRelease/*
          name: "${{ env.ModuleFolderName }} ${{ env.version }}"
          tag: "${{ env.version }}"
          bodyFile: "${{ github.workspace }}/file.md"
          allowUpdates: true
          artifactErrorsFailBuild: true
          makeLatest: true
      - name: 4. 更新下载链接
        run: |
          git config --global user.email "30484319+zjw2017@users.noreply.github.com"
          git config --global user.name "柚稚的孩纸"
          sed -i '4d' $GITHUB_WORKSPACE/module.json
          browser_download_url=$(
            curl -L \
              -H "Accept: application/vnd.github+json" \
              -H "Authorization: Bearer ${{ github.token }}" \
              -H "X-GitHub-Api-Version: 2022-11-28" \
              "https://api.github.com/repos/OWNER/REPO/releases/tags/$version" | jq -r .assets[].browser_download_url | cut -d'"' -f2
          )
          sed -i '3a "zipUrl": "https://ghproxy.com/'"$browser_download_url"'",' $GITHUB_WORKSPACE/module.json
          jq . $GITHUB_WORKSPACE/module.json > $GITHUB_WORKSPACE/new.json
          rm -rf $GITHUB_WORKSPACE/module.json && mv $GITHUB_WORKSPACE/new.json $GITHUB_WORKSPACE/module.json
          git add ./module.json
          if git commit -m "v$version"; then
              git push
          fi
